:root{
  --main-red:#E41223;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*Global Styles*/
.standard-btn{
background-color:var(--main-red);
color:white;
padding: 1em;
text-align: center;
font-size: 1.2em;
border-radius:1.5em;
cursor:pointer;
}




/*Global Styles*/


/*NAVBAR*/

.social-media{
display:flex;
justify-content: space-evenly;
align-items:center;
  width:33%;
}

.header{
  position:fixed;
  align-items:center;
  display:flex;
  justify-content:space-between;
  width:100%;
  padding:1em;
  z-index:99999;
  background-color:#e3e3e3;
}



.logo-wrapper {
height:30%;
width:33%;
display:flex;
align-items:center;
justify-content:center;
border-radius:60px;

}
.logo-wrapper img{
  border-radius:20px;

}
.navbar{
  display: flex;
  justify-content: space-evenly;
  width:33%;
}

/*NAVBAR*/

/* FOOTER */
.footer{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
 background-color: #353535;
 color:white;
 text-align:center;
 padding:2em;
 margin-top: 2em;
}


/* FOOTER */


/*=============HOME===============*/
/*Main*/
.home{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

 /*Main*/
/*Main Banner*/
.home-banner{
 background-image:url("/../public/banners/imagem/Banner-1536x864.png");
 background-color:#353535;
 width:100%;
 height:100%;
}
/*Main Banner*/
/*Services*/
.services-menu{
display: flex;
justify-content: space-evenly;
align-items:center;
margin: 3em;
}
.call-to-services{
  background-color:#e3e3e3;
  padding: 2em;
  border-radius: 20px
}

/*Services*/
.call-to-about{
  display:flex;
  align-items:center;
  justify-content: flex-end;
  flex-direction: column;
}









